@import "react-toastify/dist/ReactToastify.css";

@font-face {
  font-family: "IRSans";
  src: url("../fonts/irsans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  font-family: "IRSans", Arial, Helvetica, sans-serif;
}

.loading {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #ddd #ddd #000;
  animation: 0.5s spinner linear infinite;
  margin: 0 auto;
}

.rtl {
  direction: rtl;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media print {
  .page-break {
    page-break-before: always; /* Forces a page break before the element */
  }
  .page-break:first-child {
    page-break-before: unset;
  }
  @page {
    /* size: A4; */
    margin: 1cm;
  }
  /* body * {
    visibility: hidden;
  } */
  .printable-area,
  .printable-area * {
    visibility: visible;
  }
  .printable-area {
    width: 100%;
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
  }
  .no-print {
    display: none;
  }
}
